/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
 .wvasp-meta-checkbox label{
    margin-left: 10px;
 }
 .wc-settings-row-wvasp-pro-link-field-wrapper {
	opacity: 0.7;
}
.wc-settings-row-wvasp-pro-link-field-wrapper input {
	opacity: 1!important;
	background: #fff;
	border: 1px solid #8c8f94;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.form-table .wc-settings-row-wvasp-pro-link-field-wrapper th {
	line-height: 1.6;
}
.form-table .wc-settings-row-wvasp-pro-link-field-wrapper label {
	line-height: 1.6;
}
.wc-settings-row-wvasp-pro-link-field-wrapper .premium-tag-link,
.wvasp-meta-checkbox  .premium-tag-link{
	background: #EFC20F;
	padding: 6px 10px;
	border-radius: 5px;
	text-decoration: none;
	color: #000;
	white-space: nowrap;
}
.wvasp-get-pro {
	color: #93003f;
	font-weight: bold;
}
input.wvasp-text-field {
	padding: 5px 10px !important;
}
.form-row.wvasp-variation-category-row .select2.select2-container,
.form-row.wvasp-variation-tag-row .select2.select2-container {
	width: 100% !important;
	margin: 2px auto;
}
.wvasp-in-beta {
	background: #5046E5;
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
}
.wvasp-in-legacy {
	background: #c00;
	color: #fff;
	padding: 6px 10px;
	border-radius: 5px;
}
.wvasp-notice {
	background: #A1E2A0;
	padding: 6px 10px;
	float: left;
	margin-top: 15px;
	/* font-size: 12px; */
}
.wvasp-notice.wvasp-notice-error {
	background: #f2c1bf;
}

.wc-settings-row-wvasp-btach-field-wrapper {
	border: 2px dashed #5c815b;
	background: #d7f3d6;
}

/* Modal Overlay */

#wvasp-batch-modal.wvasp-modal {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    backdrop-filter: blur(4px);
}
#wvasp-batch-modal.wvasp-modal.active {
    display: flex;
}

.wvasp-modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
}

.wvasp-modal-content {
	position: relative;
	background: #fff;
	border-radius: 5px;
	max-width: 450px;
	width: 90%;
	padding: 0;
	box-shadow: 0 25px 60px rgba(0, 0, 0, 0.1);
	animation: fadeInUp 0.35s ease;
	overflow: hidden;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(40px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.wvasp-modal-header {
	position: relative;
	background: #0476E0;
	padding: 30px;
	color: #fff;
	text-align: center;
}
.wvasp-modal-header h2 {
	margin: 0;
	font-size: 22px;
	color: #fff;
}
.wvasp-modal-close {
    position: absolute;
    top: 12px;
    right: 20px;
    font-size: 1.8rem;
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: color 0.2s ease;
}
.wvasp-modal-close:hover {
    color: #fff;
}

.wvasp-modal-body {
	padding: 45px 30px 30px;
	text-align: center;
}

.wvasp-progress-container {
    width: 100%;
}

.wvasp-progress-bar {
	position: relative;
	width: 100%;
	background: #d1e8fe;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 18px;
	box-shadow: inset 0 0 6px rgba(0,0,0,0.05);
	padding: 3px;
}
.wvasp-progress-percentage {
	position: absolute;
	left: calc(50% - 18px);
	top: 0;
	z-index: 99;
	line-height: 24px;
	font-weight: bold;
	color: #0476E0;
}
.wvasp-progress-percentage.half-finished {
	color: #fff;
}
.wvasp-progress-bar-fill {
	width: 0;
	border-radius: 2px;
	height: 20px;
	background: #0476E0;
	position: relative;
    transition: width 0.5s ease;
}
  
.wvasp-progress-bar-fill::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    border-radius: 2px;
    overflow: hidden;
}
  
.wvasp-progress-bar-fill::after {
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    background-size: 50px 50px;
    animation: move-progress 2s linear infinite;
}

@keyframes move-progress {
    from {
      background-position: 0 0;
    }
  
    100% {
      background-position: 50px 50px;
    }
}
.wvasp-progress-text {
    font-size: 1rem;
    color: #444;
    margin-top: 5px;
}
.wvasp-error-text {
    color: #d32f2f;
    font-size: 0.95rem;
    margin-top: 10px;
}

.wc-settings-row-wvasp-hide-field {
	display: none;
}

.wc-settings-row-wvasp-inner-radio ,
.wc-settings-row-wvasp-sub-inner-select {
	display: none;
}
.wc-settings-row-wvasp-inner-radio .forminp.forminp-radio {
	margin-top: -20px;
	margin-left: 35px;
	padding-bottom: 0;
}
.wc-settings-row-wvasp-sub-inner-select .forminp.forminp-multiselect {
	margin-left: 60px;
	margin-top: -15px;
	padding-bottom: 0;
}